{% extends 'pigpig/base.html' %}
{% block title %}豬夾肉{% endblock %}

{% block name1 %}豬夾肉{% endblock %}
{% block part %}pork jowl{% endblock %}
{% block content1 %}是舌旁臉頰肉，油脂不多，因為吃東西咀嚼常常運動，所以肉質軟中帶嚼勁，吃起來口感很好{% endblock %}
{% block name2 %}豬頰肉{% endblock %}
{% block content2 %}汆燙之後切片食用，麵攤常見的小吃配菜之一，嘴邊肉，就是取自此部位{% endblock %}
{% block name3 %}嘴邊肉{% endblock %}
{% block tag %}台灣小吃必點小菜{% endblock %}
{% block content3 %}黑白切是屬於台灣小吃之一，在台灣各地攤販可見，黑白切可選擇相當多樣的食材，舉凡：豬肉類（整隻豬任何可食部位，像是肝連肉、嘴邊肉、腿肉、五花肉，到豬肝、豬心、豬肺、豬大腸等臟器)，其中嘴邊肉深受大眾們喜愛，一起來做出屬於台灣人的味道吧!{% endblock %}
{% block img1 %}/static/pigpig/img/a taste.jpg{% endblock %}
{% block img2 %}/static/pigpig/img/a cooking.jpg{% endblock %}
{% block img3 %}/static/pigpig/img/a recipe.jpg{% endblock %}
{% block img4 %}/static/pigpig/img/a taste.jpg{% endblock %}
{% block img5 %}/static/pigpig/img/a cooking.jpg{% endblock %}
{% block href2 %}https://cookpad.com/tw/%E9%A3%9F%E8%AD%9C/1792913-%E5%98%B4%E9%82%8A%E8%82%89?via=search&search_term=%E8%B1%AC%E9%A0%B0%E8%82%89{% endblock %}
{% block img6 %}/static/pigpig/img/a recipe.jpg{% endblock %}