{% extends 'pigpig/base.html' %}
{% block title %}松坂肉{% endblock %}
{% block name1 %}松坂肉{% endblock %}
{% block part %}pork neck{% endblock %}
{% block content1 %}位於豬脖子兩側，油花分布均勻，肉販稱為離緣肉（台語）或翅仔肉（台語），又因為一隻豬約只能取六兩，又有「黃金六兩肉」之稱，此部位肉質口感脆彈、油脂足夠{% endblock %}
{% block name2 %}松坂肉{% endblock %}
{% block content2 %}適合燒烤、汆燙、煎烤等方法，是燒烤店熱賣產品項目之一{% endblock %}
{% block name3 %}香煎松阪豬{% endblock %}
{% block tag %}黃金六兩肉
頂級肉品的代表{% endblock %}
{% block content3 %}松阪豬，位於豬頰連接下巴處，一頭豬只能取出兩片，約6兩，因此又稱為「黃金6兩肉」，這個部位肉質清甜，口感軟嫰又爽脆，簡單調味就好好吃{% endblock %}
{% block img1 %}/static/pigpig/img/b taste.jpg{% endblock %}
{% block img2 %}/static/pigpig/img/b cooking.jpg{% endblock %}
{% block img3 %}/static/pigpig/img/b recipe.jpg{% endblock %}
{% block img4 %}/static/pigpig/img/b taste.jpg{% endblock %}
{% block img5 %}/static/pigpig/img/b cooking.jpg{% endblock %}
{% block href2 %}https://cookpad.com/tw/%E9%A3%9F%E8%AD%9C/1792913-%E5%98%B4%E9%82%8A%E8%82%89?via=search&search_term=%E8%B1%AC%E9%A0%B0%E8%82%89{% endblock %}
{% block img6 %}/static/pigpig/img/b recipe.jpg{% endblock %}