{% extends 'pigpig/base.html' %}
{% block title %}腰內肉{% endblock %}
{% block name1 %}腰內肉{% endblock %}
{% block part %}Pork Tender loin
{% endblock %}
{% block content1 %}腰內肉是所謂的小里肌，是豬身上最不會運動到的部位，因此很軟很嫩。{% endblock %}
{% block name2 %}腰內肉{% endblock %}
{% block content2 %}有「豬肉中的菲力」之稱，油脂含量少、熱量低，肉味較平淡。適合煎、炸。{% endblock %}
{% block name3 %}日式炸豬排{% endblock %}
{% block tag %}成本低且好吃又健康!{% endblock %}
{% block content3 %}炸的金黃酥脆的原味日式豬排，一口咬下，外酥內嫩的嚼勁，在口中散發開來的香甜肉汁，是各家日式豬排專賣店的招牌菜單 
現在跟著食譜，也可以在家做出不輸日本料理店的炸豬排喔!{% endblock %}
{% block img1 %}/static/pigpig/img/e taste.jpg{% endblock %}
{% block img2 %}/static/pigpig/img/e cooking.jpg{% endblock %}
{% block img3 %}/static/pigpig/img/e recipe.jpg{% endblock %}
{% block img4 %}/static/pigpig/img/e taste.jpg{% endblock %}
{% block img5 %}/static/pigpig/img/e cooking.jpg{% endblock %}
{% block href2 %}https://cookpad.com/tw/%E9%A3%9F%E8%AD%9C/1792913-%E5%98%B4%E9%82%8A%E8%82%89?via=search&search_term=%E8%B1%AC%E9%A0%B0%E8%82%89{% endblock %}
{% block img6 %}/static/pigpig/img/e recipe.jpg{% endblock %}