{% extends 'pigpig/base.html' %}
{% block title %}五花肉{% endblock %}

{% block name1 %}五花肉{% endblock %}
{% block part %}Pork belly{% endblock %}
{% block content1 %}五花肉中的脂肪與肌肉層層交疊，脂肪雖多卻不會太膩、風味絕佳{% endblock %}
{% block name2 %}豬頰肉{% endblock %}
{% block content2 %}很適合以滷煮或切薄片或切絲的方式來烹調，東坡肉、梅干扣肉都是使用五花肉來製作。{% endblock %}
{% block name3 %}紅燒五花肉{% endblock %}
{% block tag %}記憶中
奶奶的味道{% endblock %}
{% block content3 %}油亮亮帶有焦糖色的紅燒肉，是許多人喜愛的家常菜，紅燒肉的作法很多元，看似大同小異，但細究起來，工法不同，燒出來的味道也大不相同。 
這邊跟大家分享用簡單的做法，也能做出有奶奶味道的紅燒肉!{% endblock %}
{% block img1 %}/static/pigpig/img/f taste.jpg{% endblock %}
{% block img2 %}/static/pigpig/img/f cooking.jpg{% endblock %}
{% block img3 %}/static/pigpig/img/f recipe.jpg{% endblock %}
{% block img4 %}/static/pigpig/img/f taste.jpg{% endblock %}
{% block img5 %}/static/pigpig/img/f cooking.jpg{% endblock %}
{% block href2 %}https://cookpad.com/tw/%E9%A3%9F%E8%AD%9C/1792913-%E5%98%B4%E9%82%8A%E8%82%89?via=search&search_term=%E8%B1%AC%E9%A0%B0%E8%82%89{% endblock %}
{% block img6 %}/static/pigpig/img/f recipe.jpg{% endblock %}