{% extends 'pigpig/base.html' %}
{% block title %}腿庫{% endblock %}

{% block name1 %}腿庫{% endblock %}
{% block part %}Pork hock{% endblock %}
{% block content1 %}腿庫是豬的後腿跟腳中間的部位，常會被誤認腱子肉或控肉。腿庫肉就是豬蹄膀肉，之所以會稱為腿庫其實就是蹄膀台語叫「腿庫」，這個部位是指豬大腿瘦肉較多的地方，纖維較為細軟，膠質重，好吃又不會讓人產生油膩感。{% endblock %}
{% block name2 %}腿庫{% endblock %}
{% block content2 %}常適合連皮一起做長時間燉煮，可以切塊滷煮或紅燒，炸過再烤亦很不錯{% endblock %}
{% block name3 %}筍絲滷腿庫{% endblock %}
{% block tag %}古早味料理{% endblock %}
{% block content3 %}這是一道年節聚餐或是宴席上不可或缺的料理。 
一起來做出宴席上熟悉的味道吧!{% endblock %}
{% block img1 %}/static/pigpig/img/h taste.jpg{% endblock %}
{% block img2 %}/static/pigpig/img/h cooking.jpg{% endblock %}
{% block img3 %}/static/pigpig/img/h recipe.jpg{% endblock %}
{% block img4 %}/static/pigpig/img/h taste.jpg{% endblock %}
{% block img5 %}/static/pigpig/img/h cooking.jpg{% endblock %}
{% block href2 %}https://cookpad.com/tw/%E9%A3%9F%E8%AD%9C/1792913-%E5%98%B4%E9%82%8A%E8%82%89?via=search&search_term=%E8%B1%AC%E9%A0%B0%E8%82%89{% endblock %}
{% block img6 %}/static/pigpig/img/h recipe.jpg{% endblock %}