{% extends 'pigpig/base.html' %}
{% block title %}豬腳{% endblock %}

{% block name1 %}豬腳{% endblock %}
{% block part %}pork knuckle{% endblock %}
{% block content1 %}位於蹄膀以下、蹄花以上的部位，富含膠質{% endblock %}
{% block name2 %}豬腳{% endblock %}
{% block content2 %}適合以滷煮、紅燒，常見中式滷豬腳即此部位。{% endblock %}
{% block name3 %}滷花生豬腳{% endblock %}
{% block tag %}好吃又富含膠質{% endblock %}
{% block content3 %}跟大家分享如何簡單兩三下就可以煮出柔軟卻又Q彈的豬腳! {% endblock %}
{% block img1 %}/static/pigpig/img/i taste.jpg{% endblock %}
{% block img2 %}/static/pigpig/img/i cooking.jpg{% endblock %}
{% block img3 %}/static/pigpig/img/i recipe.jpg{% endblock %}
{% block img4 %}/static/pigpig/img/i taste.jpg{% endblock %}
{% block img5 %}/static/pigpig/img/i cooking.jpg{% endblock %}
{% block href2 %}https://cookpad.com/tw/%E9%A3%9F%E8%AD%9C/1792913-%E5%98%B4%E9%82%8A%E8%82%89?via=search&search_term=%E8%B1%AC%E9%A0%B0%E8%82%89{% endblock %}
{% block img6 %}/static/pigpig/img/i recipe.jpg{% endblock %}