{% extends 'pigpig/base.html' %}
{% block title %}豬耳{% endblock %}
{% block name1 %}豬耳{% endblock %}
{% block part %}pork ear{% endblock %}
{% block content1 %}豬耳口感非常好，吃到嘴裡又柔韌又脆，且含有膠原蛋白質{% endblock %}
{% block name2 %}豬耳{% endblock %}
{% block content2 %}富含膠質，多用於燒、鹵、醬、涼拌等烹調方法{% endblock %}
{% block name3 %}三絲涼拌豬耳朵{% endblock %}
{% block tag %}清脆爽口的下酒菜{% endblock %}
{% block content3 %}不要小看了涼拌豬耳朵，雖然步驟很簡單，但是做出來的味道卻是五花八門的，要想做好這道菜其實也挺不容易的。 
下面我們就來看看它的做法吧!{% endblock %}
{% block img1 %}/static/pigpig/img/b taste.jpg{% endblock %}
{% block img2 %}/static/pigpig/img/b cooking.jpg{% endblock %}
{% block img3 %}/static/pigpig/img/b recipe.jpg{% endblock %}
{% block img4 %}/static/pigpig/img/b taste.jpg{% endblock %}
{% block img5 %}/static/pigpig/img/b cooking.jpg{% endblock %}
{% block href2 %}https://cookpad.com/tw/%E9%A3%9F%E8%AD%9C/1792913-%E5%98%B4%E9%82%8A%E8%82%89?via=search&search_term=%E8%B1%AC%E9%A0%B0%E8%82%89{% endblock %}
{% block img6 %}/static/pigpig/img/b recipe.jpg{% endblock %}