    <!-- 左邊選單 -->
    <div class="sidebar">
        <div class="nano">
            <div class="nano-content">
                 <ul>
                    <li class="label">CUT OF PORK</li>
                    
                   <li><a class="sidebar-sub-toggle"> 豬頰肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'pigpig:inner' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:inner' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:inner' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"> 松阪肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                       <ul>
                            <li><a href="b.html#Taste">口感</a></li>
                            <li><a href="b.html#cooking">料理</a></li>
                            <li><a href="b.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"> 梅花肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="c.html#Taste">口感</a></li>
                            <li><a href="c.html#cooking">料理</a></li>
                            <li><a href="c.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li class="active"><a class="sidebar-sub-toggle"> 大里肌 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                       <ul>
                            <li><a href="d.html#Taste">口感</a></li>
                            <li><a href="d.html#cooking">料理</a></li>
                            <li><a href="d.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"> 腰內肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="e.html#Taste">口感</a></li>
                            <li><a href="e.html#cooking">料理</a></li>
                            <li><a href="e.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"> 五花肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="f.html#Taste">口感</a></li>
                            <li><a href="f.html#cooking">料理</a></li>
                            <li><a href="f.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"> 後腿肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="g.html#Taste">口感</a></li>
                            <li><a href="g.html#cooking">料理</a></li>
                            <li><a href="g.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"> 腿庫 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="h.html#Taste">口感</a></li>
                            <li><a href="h.html#cooking">料理</a></li>
                            <li><a href="h.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"> 豬腳 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="i.html#Taste">口感</a></li>
                            <li><a href="i.html#cooking">料理</a></li>
                            <li><a href="i.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>                  
                                                            
                    <li><a class="sidebar-sub-toggle"> 豬耳 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                       <ul>
                            <li><a href="j.html#Taste">口感</a></li>
                            <li><a href="j.html#cooking">料理</a></li>
                            <li><a href="j.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                 
                    <li><a class="sidebar-sub-toggle"> 胛心肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="k.html#Taste">口感</a></li>
                            <li><a href="k.html#cooking">料理</a></li>
                            <li><a href="k.html#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    
                    
                   
                </ul>
            </div>
        </div>
    </div>
   
    <div class="header">
        <div class="pull-left">
            <div class="logo"><span><img src="https://img.icons8.com/color/30/000000/pig.png">PigPig</span></a></div>
            <div class="hamburger sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span><!-- 左上角三條線 -->
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>
                <li class="header-icon dib"><img class="avatar-img" src="/static/pigpig/assets/images/avatar/1.png" alt="" /> 
                    <span class="user-avatar"><a href="{% url 'pigpig:pigpig' %}">Home</a></span>
                    
                </li>
            </ul>
        </div>
    